# --- 基础工具 ---
numpy
scipy
# setuptools

# --- 配置与网络 ---#
python-dotenv
pyyaml
tomli; python_version < "3.11"
requests
websockets

# --- 音频与语音 ---
playsound3
pypinyin
sounddevice
soundfile
webrtcvad

# --- 人声增强与降噪 ---
sherpa-onnx

# --- LLM / OpenAI / LangChain ---
openai
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langgraph-checkpoint-sqlite

# 阿里云百炼官方的 DashScope SDK
dashscope

# # --- 向量库 ---
# faiss-cpu

# # --- 本地 Embedding / Rerank ---
# sentence-transformers

# # --- 文档解析 ---
# docx2txt
# pypdf